.sidePanel{
    width: 100px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}
.sidePanel ul{
    list-style: none;
    font-size: 30px;
    margin: 0;
    padding: 0;

}
.sidePanel ul li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    
}
.sidePanel ul li:hover{
    background-color: #e3e3e3;

}

@media only screen and (max-width: 600px) {
    .sidePanel{
        width: 100%;
        height: 100px;
        
      }
      .sidePanel ul li{
        height: 50px;
        font-size: 20px;
      }
}