.chatListPageBox{
    width: 25%;
    height: 100%;
    background-color: #fff;
    padding: 15px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.chatWindowPageBox{
    background-color: #fff;
    width:50%;
    height: 100%;
}
.findPeoplePageBox{
    width: 25%;
    height: 100%;
    background-color: #fff;
}