.sideDesign {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -99;
  display: flex;

}

.sideDesign img {
  height: 150px;
  width: 150px;
}

.bottomimage {
  position: absolute;
  bottom: 0;
  transform: rotate(180deg);
}

.upperimage {
  position: absolute;
  right: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 70%;
  height: 90%;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}